.page {
  max-width: 880px;
  background: black;
  color: white;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  padding: 0 20px;
}

@media screen and (max-width: 730px) {
  .page {
    padding: 0;
  }
}
