.profile__image-edit {
    width: 120px;
    height: 120px;
    background: rgba(0, 0, 0, 0.8) url(../../../images/pencil.svg) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .25s linear;
}

.profile__image-container:hover .profile__image-edit{
    opacity: 1;
}