.card__subtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 21px 25px 21px;
}

@media screen and (max-width: 730px) {
  .card__subtext {
    padding: 20px 19px 25px 23px;
  }
}
