.card__btn-like {
  width: 22px;
  height: 19px;
  background: url(../../../images/icon-disabled-heart.svg) no-repeat center;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s linear;
  padding: 0;
}

.card__btn-like:hover {
  opacity: 0.5;
}

.card__btn-like:checked {
  border: 10px solid red;
}
