.profile__pseudo-input {
  display: inline-block;
  width: 150px;
  height: 50px;
  background: url(../../../images/add-btn.png) no-repeat center;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s linear;
}

.profile__pseudo-input:hover {
  opacity: 0.6;
}

@media screen and (max-width: 730px) {
  .profile__pseudo-input {
    width: 282px;
  }
}
