.form__title {
  margin: 0;
  margin-bottom: 54px;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 900;
}

@media screen and (max-width: 660px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 75px;
  }
}
