.profile__edit-btn {
  width: 24px;
  height: 24px;
  background: url(../../../images/edit-button.svg) no-repeat center;
  background-size: cover;
  border: none;
  align-self: end;
  margin-bottom: 8px;
  cursor: pointer;
  transition: opacity 0.15s linear;
  padding: 0;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 730px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
}
