.profile__edit-btn {
  width: 24px;
  align-self: end;
  margin-bottom: 8px;
  cursor: pointer;
  transition: opacity 0.15s linear;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 730px) {
  .profile__edit-btn {
    width: 18px;
    margin-bottom: 5px;
  }
}
