.form__btn-submit {
  width: 100%;
  border: none;
  color: white;
  background: rgba(0, 0, 0, 1);
  padding: 15px 0;
  line-height: 1.22;
  font-size: 18px;
  margin-top: 48px;
  border-radius: 2px;
  transition: background 0.2s linear;
  cursor: pointer;
}

.form__btn-submit:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 660px) {
  .form__btn-submit {
    font-size: 14px;
    margin-top: 16px;
    padding: 14px 0;
  }
}
